<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.mapper.TagMapper">
	<select id="listTag"  resultType="Tag">
		select * from tag order by tag_id desc
	</select>
	
	<insert id="addTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="tagId">
		insert into tag (tag_name, tag_description) values (#{tagName}, #{tagDescription})
	</insert>
	
	<select id="getTagById" resultType="Tag">
		select * from tag where tag_id=#{tagId}
	</select>
	
	<update id="editTag">
		update tag set tag_name=#{tagName}, tag_description=#{tagDescription} where tag_id=#{tagId};
	</update>
	
  	<delete id="deleteTag" parameterType="Integer" >
	    delete from tag
	    where tag_id = #{tagId}
  	</delete>
	
</mapper>